{varType App\Model\Data\AData $data}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{$data->title}</title>

	<style>
		.list_reset
		{
			list-style-type: none;
			padding: 0
		}

		.failure_message
		{
			color: #ff3600
		}

		.existing_doi_message
		{
			color: #b68c00
		}
	</style>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<br>
		<h1>{$data->title}</h1>

		<nav class="navbar navbar-inverse">
			<ul class="nav navbar-nav">

				<li{if $data->navbarActiveIndex === 0} class="active"{/if}>
					<a href="{plink Homepage:default}">{_homepage.title}</a>
				</li>
				<li{if $data->navbarActiveIndex === 1} class="active"{/if}>
					<a href="{plink FileStructure:default}">{_file_structure.title}</a>
				</li>
				<li{if $data->navbarActiveIndex === 2} class="active"{/if}>
					<a href="{plink ImportDoiMain:default}">{_import_doi_main.title}</a>
				</li>
			</ul>
		</nav>

		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
			<div class="alert alert-danger">
				{$flash->message}
			</div>
		</div>

		{if $data->accountUnsetErrorMessage !== null}
			<div class="alert alert-warning">
				<strong>{_account.errorMessages.warning}!</strong> {$data->accountUnsetErrorMessage}
			</div>
		{/if}

		{include content}
	</div>



	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
