{varType App\Model\Data\Homepage\HomepageData $data}
{block content}

<p>{_homepage.description}</p>
<p>{_homepage.description2}</p>
<p>{_homepage.description3}</p>
<p>{_homepage.structure, [link => $presenter->link('FileStructure:default')]|noescape}</p>
<p>{_homepage.upload, [link => $presenter->link('ImportDoiMain:default')]|noescape}</p>
