{varType App\Model\Data\ImportDoiMain\MainData $data}
{block content}

<p>{_import_doi_main.description, [link => $presenter->link('FileStructure:default')]|noescape}</p>
{control uploadXlsxFileForm}

