errorMessages:
    missingLogin: The LOGIN environment variable does not contain the login name for your DataCite.org account. Downloading or uploading a file will not work. Follow the instructions in readme.md.
    missingPassword: The PASSWORD environment variable does not contain the password for your DataCite.org account. Downloading or uploading a file will not work. Follow the instructions in readme.md.
    missingDoiPrefix: The DOI_PROFIX environment variable does not contain the prefix of your DOIs. Downloading or uploading a file will not work. Follow the instructions in readme.md.
    warning: Warning
