errorMessages:
    missingLogin: V souboru local.neon není zadané přihlašovací jméno na Váš účet na DataCite.org. Stahování ani odesílání souboru nebude fungovat.
    missingPassword: V souboru local.neon není zadané heslo na Váš účet na DataCite.org. Stahování ani odesílání souboru nebude fungovat.
    missingDoiPrefix: V souboru local.neon není zadaný prefix Vašich DOI. Stahování ani odesílání souboru nebude fungovat.
    warning: Varování
