{varType App\Model\Data\FileStructure\FileStructureData $data}
{block content}

<p>Soubor musí mít tuto strukturu ....</p>
<p>Tyto prvky můžete duplikovat takto</p>

<p><a href="test.txt" download="test.txt">Download TEXT file</a></p>
<a href="download.php?file=test.txt" target="_new">Download File</a>
<button type="button" onclick="location.href='test.txt'">Download All Your Keys On A .txt</button>