search:
	default:
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter
	- App\Model\Services\DoiXlsxProcessService
	- App\Model\Services\DoiApiCommunicationService
	- App\Model\Facades\ImportDoiResultMessagesFacade
	- App\Model\Facades\ImportDoiConfirmationFacade
	- App\Model\Facades\ImportDoiMainFacade
	- App\Model\Facades\HomepageFacade
	- App\Model\Facades\FileStructureFacade
	- App\Providers\AccountProvider
